<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="src/autoload.php">
    <testsuites>
        <testsuite name="ATM">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
